body { 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url(../images/backgroundimg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    }


.header { 
    background-color: #2c2c2c; 
    padding: 20px 15px 12px 15px; 
    box-shadow: 0px 2px 5px 1px #0a0a0a; 
}

input { 
    margin: 0; 
    padding: 5px; 
    border: 1px solid #979797; 
    border-radius: 4px; 
}

.boton{ 
    border-radius: 2px; 
    background-color: #4dad5b; 
    color: #ffffff; 
    border: none;
    padding: 6px 8px;
    margin: 0 10px;
}



.bannerCont {
    padding-top: 25px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.banner {
        width: 100%;
        height: auto;
}


.buscar{
   width: 50%;
}


.card-lista{
    background-color: #ffffff;
    padding: 12px;
    box-shadow: 0px 0px 5px 1px #0a0a0a27;
    border-radius: 4px;
    border-image: url(./../images/tornasol.jpg) 30 stretch;
    border-left: 5px solid;
    border-right: 5px solid;
    border-top: 5px solid;
    border-bottom: 5px solid;
    margin: 0;
    width: 100%;
    transition: 0.7s all;

}

.pokeNumber {
    float: left;
    color: #ee6b2f;
}

.hr {
    border-top: 1px dashed #ee6b2f;
}

.infoPokemon h4 {
    color: #e6bc2f;
}


.inf-api {
    color: #616161;
    font-size: 14px;
    font-weight: 300;
}

.formulario {
	border-radius: 0px 30px 0px 30px;
	box-shadow: 8px 8px 8px #999;
	margin: 0 auto;
}

.btnEnviar {
    margin: 0 auto;
    text-align: center;
    width: 200px;
}

input:invalid {
    border: 2px solid red;
  }
  
  input:valid {
    border: 2px solid lightgreen;
  }